<form action="https://submit-form.com/6t0Lk9oc">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Enter your name..." required="" />
  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="nailguru@example.com" required="" />
  <label for="message">Enter your message here...</label>
  <textarea
    id="message"
    name="message"
    placeholder="Message"
    required=""
  ></textarea>
  <button type="submit">Send</button>
</form>
